.page {
  font-family: 'Raleway', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #010101;
  background-color: #fff;
  max-width: 1280px;
  min-width: 303px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  padding-top: clamp(16px, 5vw, 60px);
  overflow: hidden;
}
