.place__container {
  background-color: #f2f2f2;
  padding: 0 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (max-width: 1024px) {
  .place__container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 749px) {
  .place__container {
    padding: 30px 24px;
  }
}

@media screen and (max-width: 475px) {
  .place__container {
    padding: 20px 16px;
  }
}
