.header {
  width: 100%;
  box-sizing: border-box;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width:800px) {
  .header {
    max-width: 736px;
    padding: 0 24px;
  }
}

@media screen and (max-width:600px) {
  .header {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 10px;
    padding: 10px 16px;
    background-color: #fecda7;
  }
}
