.header {
  font-weight: 700;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px; /*как по другому хедер отодвинуть от контента? класс какой-то накинуть?
  остальные отступы между блоками для класса content задала*/
}

@media screen and (max-width:768px) {
  .header {
    padding: 0 24px;
  }
}

@media screen and (max-width:425px) {
  .header {
    padding: 0 16px;
  }
}

@media screen and (max-width:405px) {
  .header {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 10px;
  }
}
