/*отступы между секциями*/
.content {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 125px 0;
}

@media screen and (max-width: 600px) {
  .content {
    row-gap: 0;
  }
}


@media screen and (max-width: 1024px) {
  .content {
    row-gap: 100px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    row-gap: 50px;
  }
}

@media screen and (max-width: 475px) {
  .content {
    row-gap: 0;
  }
}
