.place__text {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  max-width: 380px;
  align-self: flex-start;
}

@media screen and (max-width: 952px) {
  .place__text {
    width: 100%;
    align-self: unset;
    row-gap: clamp(10px, 1vw, 15px);
  }
}


@media screen and (max-width: 1024px) {
  .place__text {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .place__text {
    row-gap: 15px;
  }
}
