.place__text {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  max-width: 380px;
  align-self: flex-start;
}

@media screen and (max-width: 952px) {
  .place__text {
    width: 100%;
  }
}
