@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/header/header.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/places/places.css);
@import url(../blocks/quotes/quotes.css);

.page {
  min-width: 320px;
  max-width: 1280px;
  margin: auto;
  padding-top: 30px;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}



