.quotes {
  padding: 0 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.quotes::before {
  content: "люди";
  color: #fecda7;
  font-family: 'Roboto-condensed', Arial, sans-serif;
  /*color: #fecda7; */
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  word-spacing: 0.4em;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .quotes {
    padding: 0 24px;
  }

}

@media screen and (max-width: 475px) {
  .quotes {
    padding: 16px 16px;
  }

}

