.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f2f2f2;
}

.place:nth-child(even) > .place__image {
  order: 1;
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: 1fr;
    gap: clamp(16px, 4vw, 20px);
  }

  .place:nth-child(even) > .place__image {
    order: unset;
  }
}
