.footer {
  width: 100%;
  background-color: #fecda7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/map.svg');
  z-index: 1;
  position: relative;
}

.footer::before {
  content: '';
  background-color: #fecda7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
  transition: .5s ease;
}


/*попыталась по ховеру отобразить картинку, но не смогла размеры подогнать*/
.footer:hover::before {
  opacity: 0;
}


