.footer {
  background-color: #fecda7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  transition: backround-image 0.3s;
}

/*попыталась по ховеру отобразить картинку, но не смогла размеры подогнать*/
.footer:hover {
  background-image: url(../../961700.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__copyright {
  margin: 0;
}

.footer {
  font-family: 'Roboto-condensed', Arial, sans-serif;
  /*color: #fecda7; */
  font-weight: 700;
  font-size: 76px;
  line-height: 1.5;
  word-spacing: 4px;
}
