.intro__heading {
  align-self: center;
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 0 48px;
}

.intro__heading::before {
  content: "куда я поеду";
  color: #fecda7;
  font-family: 'Roboto-condensed', Arial, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  word-spacing: 0.4em;
  letter-spacing: .08em;
  padding: 0 48px;
  position: absolute;
  top: -30px;
  left: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .intro__heading {
    max-width: 352px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }

  .intro__heading::before {
    max-width: 352px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 600px) {
  .intro__heading {
    max-width: unset;
    width: unset;
    padding-left: 16px;
    padding-right: 16px;
  }

  .intro__heading::before {
    max-width: unset;
    width: unset;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 400px) {
  .intro__heading {
    font-size: clamp(32px, 10vw, 38px);
  }
}
